{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "no-unused-vars": 0,
    "import/no-extraneous-dependencies": 0,
    "linebreak-style": ["error", "windows"],
    // "no-tabs": 0,
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-console": ["error", { "allow": ["log"] }],
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "react/prop-types": 0,
    "arrow-body-style": 0,
    "comma-dangle": ["error", "always-multiline"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
